/* setup the spread */

body {
  background:#eee;
  margin:0;
  padding:0;
  height:100vh;
  display:grid;
  align-items:center;
  justify-items: center;
}
.folio {
  height:720px;
  width:839px;
  margin:100px auto;
  overflow:hidden;
}
.page {
  height:740px;
  width:420px;
  background:white;
  border:1px solid #ccc;
  float:left;
  box-sizing:border-box;
  position:relative;
}
#pageTwo {
  margin-left:-1px;
}
.gridlines {
  background-image: linear-gradient(var(--grid-color) 1px, transparent 1px), linear-gradient(90deg, var(--grid-color) 1px, transparent 1px);
  background-size: var(--grid-size) var(--grid-size);
  background-position: -1px -1px;
}